<mat-sidenav-container class="container">

   <mat-sidenav class="sidenav" mode="side" opened
   fixedInViewport="true" fixedTopGap="64">
   
    <mat-nav-list class="nav-list">
       <a mat-list-item href="/start">
   <i class="material-icons">

        home
   </i>
  <a class="start"> start</a>
       </a>
     
  

    </mat-nav-list>
   </mat-sidenav>

    <mat-sidenav-content class="content">
      <app-home2 class="hello"></app-home2>
       <app-home class="horas"></app-home> 
       <app-forms></app-forms>
      
    </mat-sidenav-content>
   </mat-sidenav-container>
  