form {
  display: flex; 
  flex-direction: column;
}

button {

  margin-right: 10px; 
  margin-top: 20px; 
  margin: 20px;
   
  
}

.resposta {
 font-size: 25px;
  color: blue;
  padding-left: 10px;
  padding-top: 30px;
}

.formulario {

  font-size: 20px;
}